* {
  margin: 0;
}

body {
  background-image: url("./images/search-bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.side_nav_body {
  position: relative;
  top: 65px;
  height: 89.6vh;
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
}